header {
    text-align: center;
    font-size: 34px;
    font-style: oblique;
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    margin: 0;
    padding: 0;

    max-width: 100%;
    height: 100vh;
    width: 100vw;

    background-color: rgb(112, 158, 191);

    justify-content: center;
    align-items: center;

    flex-direction: column;
}


#gridWrapper {
    background-color: rgba(255, 255, 255, 0.53);

    height: 960px;
    width: 960px;

    display: flex;
    flex-wrap: wrap;
}


.square {
    margin: 0;
    padding: 0;

    height: 16px;
    width: 16px;

    outline: 1px solid black;

}

button {
    flex-basis: auto;
    margin-bottom: 82px;
    
    
}