header {
    text-align: center;
    font-size: 34px;
    font-style: oblique;
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    margin: 0;
    padding: 0;

    max-width: 100%;
    height: 100vh;
    width: 100vw;

    background-color: blueviolet;

    justify-content: center;
    align-items: center;
}

/* 32 squares of 16*16 should fit inside this grid box */
#gridWrapper {
    background-color: bisque;

    height: 512px;
    width: 512px;

    display: flex;
    flex-wrap: wrap;
}


.square {
    margin: 0;
    padding: 0;

    height: 16px;
    width: 16px;

    outline: 1px solid black;


}